@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid__col-lg-12 grid__col-md-12 grid__col-sm-12 grid__col-xs-12 paragraph-container">
    <div class="grid__cell">
        <div class="grid grid--justify-center">
            <div class="grid__col-md-6 grid__col--bleed">
                <h2 class="u-margin-bottom">@Translate("Thank you")</h2>
                <p>@Translate("We will do our best to answer you soon.")</p>
            </div>
        </div>
    </div>
</div>