@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid__col-lg-12 grid__col-md-12 grid__col-sm-12 grid__col-xs-12 paragraph-container">
    <div class="grid__cell">
        <div class="grid grid--justify-center">
            <div class="grid__col-md-6 grid__col--bleed">
                <h2>@Translate("Thank you for the subscription")</h2>
                <p>@Translate("Your email address is now confirmed.")</p>
                <p>@Translate("Thank you for signing up to recieve emails. You will receive occasional Newsletters with news, information and promotions.")</p>
            </div>
        </div>
    </div>
</div>