@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Web;

<div class="grid grid--justify-center">
    <div class="grid__col-md-6 grid__col--bleed">
        <h2>@Translate("Thank you")</h2>
        <p>@Translate("Thank you for your subsription to our Newsletter. You will be sent a confirmation email shortly.")</p>
        <p>@Translate("You will be asked to confirm your subscription in order to make sure that no one subscribed your email address without your permission.")</p>
        <p>@Translate("If you don't recieve this email, please check your spam filter.")</p>
    </div>
</div>
