@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid grid--justify-center">
    <div class="grid__col-md-6 grid__col--bleed">
        <h2 class="u-margin-bottom">@Translate("You are almost there")</h2>
        <p>@Translate("Check your email to confirm your user profile.")</p>                  
    </div>
</div>
