<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamicweb" version="9.5.11" targetFramework="net461" />
  <package id="Dynamicweb.Caching" version="2.1.0" targetFramework="net461" />
  <package id="Dynamicweb.Configuration" version="2.0.5" targetFramework="net461" />
  <package id="Dynamicweb.Core" version="2.3.1" targetFramework="net461" />
  <package id="Dynamicweb.Core.UI" version="1.0.4" targetFramework="net461" />
  <package id="Dynamicweb.Data" version="1.3.2" targetFramework="net461" />
  <package id="Dynamicweb.DataProcessing" version="1.0.7" targetFramework="net461" />
  <package id="Dynamicweb.Diagnostics" version="3.0.0" targetFramework="net461" />
  <package id="Dynamicweb.Environment" version="3.1.4" targetFramework="net461" />
  <package id="Dynamicweb.Extensibility" version="3.2.2" targetFramework="net461" />
  <package id="Dynamicweb.Hosting" version="1.1.0" targetFramework="net461" />
  <package id="Dynamicweb.Imaging" version="2.3.10" targetFramework="net461" />
  <package id="Dynamicweb.Indexing" version="1.2.1" targetFramework="net461" />
  <package id="Dynamicweb.Logging" version="4.1.3" targetFramework="net461" />
  <package id="Dynamicweb.Mailing" version="2.1.0" targetFramework="net461" />
  <package id="Dynamicweb.Rapido" version="1.0.0" targetFramework="net461" />
  <package id="Dynamicweb.Scheduling" version="1.1.5" targetFramework="net461" />
  <package id="Dynamicweb.Security" version="5.2.0" targetFramework="net461" />
  <package id="Dynamicweb.SmartSearch" version="1.0.9" targetFramework="net461" />
  <package id="Dynamicweb.UI.Elements" version="1.0.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NLog" version="4.2.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="XmpCore" version="5.1.3" targetFramework="net461" />
</packages>