@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div id="contentmain" class="dwcontent" title="Main content" data-settings="template:moduleonly.html;unwrap:true;"></div>
