@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Core
@using System
@using System.Web
@using System.Collections.Generic
@using Dynamicweb.Rapido.Blocks

@{ 
    BlocksPage acceptanceBlocksPage = BlocksPage.GetBlockPage("CheckoutPage");

    Block acceptanceBlock = new Block()
    {
        Id = "StaticSummary",
        SortId = 20,
        Template = RenderAcceptance(),
        Design = new Design
        {
            RenderType = RenderType.Column,
            Size = "12"
        }
    };
    acceptanceBlocksPage.Add("SummaryContainerRow", acceptanceBlock);
}

@helper RenderAcceptance() {
    <div class="card u-color-light--bg u-no-padding--xs dw-mod">
        @if (GetBoolean("Ecom:Cart.UseNewsletterSubscription"))
        {
            <div class="form__field-group u-margin-bottom dw-mod">
                <input type="hidden" name="EcomOrderSubscribeToNewsletter" />
                <input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" class="form__control">
                <label for="EcomOrderSubscribeToNewsletter">
                    @Translate("Subscribe to newsletter")
                </label>
            </div>
        }
        <div class="form__field-group dw-mod">
            <input type="checkbox" name="EcomOrderCustomerAccepted" id="EcomOrderCustomerAccepted" onchange="Cart.EnableCheckoutButton()" class="form__control">
            <label for="EcomOrderCustomerAccepted">
                @Translate("I accept the terms and conditions")
            </label>
        </div>
        <div class="field-error dw-mod">@GetString("Ecom:Cart.ValidationError.EcomOrderCustomerAccepted.ErrorMessage")</div>
    </div>
}